<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <h2>Accounts</h2>
      <table>
        <tr>
          <th>Username</th>
          <th>Password</th>
        </tr>
        <% accounts.forEach(function(account) { %>
          <tr>
            <td><%= account.username %></td>
            <td><%= account.password %></td>
          </tr>
        <% }); %>
      </table>
    </div>
    <a href="/createAccount">
      <button>Create Account</button>
    </a>
  </body>
</html>
